In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv("data/1.32.csv")

In [4]:
df.head()

,id,serverTime,userTime,gameVersion,playerId,playerBirthdate,playerRegion,playerCountry,playerGender,playerExternalId,...,type,coordinates,section,customData.language,customData.controls,customData.device,customData.sound,customData.gamelevel,customData,customData.dnabit
0,13815a6e-da1d-4b1d-862f-6e394a4cec98,2015-09-10T12:32:45.204Z,2015-09-10T12:32:48.469Z,be209fe8-0ef3-4291-a5f4-c2b389f5d77d,2bb4a2ab-eaf1-4e0e-b2fe-5f5e88248733,NaN,NaN,NaN,NaN,NaN,...,start,"[-6, 143]",NaN,NaN,NaN,NaN,NaN,NaN,null,NaN
1,36963346-0445-45ce-bad0-b767325becb2,2015-09-10T12:32:45.212Z,2015-09-10T12:32:48.481Z,be209fe8-0ef3-4291-a5f4-c2b389f5d77d,8565a7b9-811b-4b56-9cae-c7eeb28314d7,NaN,NaN,NaN,NaN,NaN,...,start,"[-6, 143]",NaN,NaN,NaN,NaN,NaN,NaN,null,NaN
2,7705c2aa-1de0-40c2-8cea-71e60b326f54,2015-09-10T12:33:35.665Z,2015-09-10T12:33:38.935Z,be209fe8-0ef3-4291-a5f4-c2b389f5d77d,8565a7b9-811b-4b56-9cae-c7eeb28314d7,NaN,NaN,NaN,NaN,NaN,...,reach,"[-6, 134]",Checkpoint01,NaN,NaN,NaN,NaN,NaN,null,NaN
3,b327e325-bf7d-4ecc-9c7c-ab9b3894eedd,2015-09-10T13:41:43.245Z,2015-09-10T13:41:46.501Z,be209fe8-0ef3-4291-a5f4-c2b389f5d77d,4d9c1137-d582-4333-b264-e59eebd2b6d8,NaN,NaN,NaN,NaN,NaN,...,start,"[-6, 143]",NaN,NaN,NaN,NaN,NaN,NaN,null,NaN
4,d00eb541-9be1-4483-b622-f72b30507adb,2015-09-10T13:41:53.529Z,2015-09-10T13:41:56.785Z,be209fe8-0ef3-4291-a5f4-c2b389f5d77d,4d9c1137-d582-4333-b264-e59eebd2b6d8,NaN,NaN,NaN,NaN,NaN,...,reach,"[-4, 134]",Checkpoint01,NaN,NaN,NaN,NaN,NaN,null,NaN

In [37]:
players = df.groupby("playerId").agg({ "serverTime": [ np.min, np.max  ] })

players["duration"] = pd.to_datetime(players["serverTime"]["amax"]) - pd.to_datetime(players["serverTime"]["amin"])

players["duration"] = players["duration"].map(lambda x: np.timedelta64(x, 'm'))

players.head()

                                                    serverTime  \
                                                          amin
playerId
00bd9fde-4cae-4e3e-ab3f-6aabeab58f62  2015-10-21T10:44:06.633Z
00c6213a-7a0e-4890-94b4-ac614e513668  2015-10-27T16:29:44.960Z
01c0da07-c3cf-4d79-ab2f-12715e5dfaaf  2015-09-21T15:30:38.869Z
02c50a87-0ef8-4b7b-ae6b-420bfe38676e  2015-10-23T01:20:08.698Z
048c0015-22c3-42f2-a5e9-1d3251e39155  2015-09-10T13:42:23.876Z

                                                               duration
                                                          amax
playerId
00bd9fde-4cae-4e3e-ab3f-6aabeab58f62  2015-10-21T10:50:11.614Z 00:06:00
00c6213a-7a0e-4890-94b4-ac614e513668  2015-10-27T16:32:50.021Z 00:03:00
01c0da07-c3cf-4d79-ab2f-12715e5dfaaf  2015-09-21T15:30:38.869Z 00:00:00
02c50a87-0ef8-4b7b-ae6b-420bfe38676e  2015-10-23T01:21:38.724Z 00:01:00
048c0015-22c3-42f2-a5e9-1d3251e39155  2015-09-10T13:42:31.324Z 00:00:00

I do not get why is now handled by numpy instead of pd.timedelta

In [11]:
timedelta = pd.to_datetime("2015-10-21T10:50:11.614Z") - pd.to_datetime("2015-10-21T10:44:06.633Z")

print timedelta
print timedelta.minutes

0 days 00:06:04.981000
6